<a href="https://colab.research.google.com/github/PandiDurai010722/Python_code/blob/master/py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Introduction

What is Python?
python is a popular programming language.It was created by Guido van Rossum,and released in 1991.

It is used for:


1.   Web development(server-side),
2.   Software development,
3.   Mathematics,
4.   System scripting.

What can Python do?


*   Python works on different platforms (Window, Mac,Linux,Raspberry pi,etc)
*   Python has a simple syntax similar to the English language.
*   Python has syntax  that allows developers to write programs with fewer     lines than some other programming languges
*   Python runs on an interpreter system,meaning that code can be executed as soon as it is written.This means that prototyping can be very quick.
*   Python can be treated in a procedural way,an object-oriented way or a functional way

In [ ]:
print("Hello,World")

Hello,World

Python Indentation

Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [ ]:
# Example
if 5>2:
  print("Five is greater than tow!")

Five is greater than tow!

In [ ]:
# Example
# Syntax Error:
if 5> 2:
print("Five is greater than two+")

IndentationError: ignored

The number of spaces is up to you as a programmer,the most common use is four,but it has to be at least one.

In [ ]:
# Example

if 5>2:
 print("Five is greater than two!")
if 5>2:
    print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

You have to use the same number of spaces in same block of code, otherwise Python will give you an error:

In [ ]:
# Example
# Syntax Error:

if 5>2:
  print("Five is greater than two!")
    print("Five is greater than two!")

Python Variables

In Python, variables are created when you assing a value to it:

In [ ]:
# Example
# Variables in Python:

x =5
y="Hello, World"

print(x)
print(y)

5
Hello, World

Python has no command for declaring a variable.

Comments

Python has commenting capabilty for the purpose of in-code documention.
Comments start with a #, and Python will render the rest of the line as a comment:

In [ ]:
# Example
# Comments in Python:
# This is a comment.
print("Hello,World")

Python Comments

Comments are be used to explain Python code.
Comments can be used to make the code more readable.
Comments can be used to prevent execution when testing code.

Creating a Comment

Comments starts with a # , and Python will ignore them:

In [ ]:
# Example
# This  is a comment
print("Hello, World")

Comments can be placed at the end of a line,and Python  will ignore the rest of the line:

In [ ]:
# Example
print("Hello, World") #This is a comment

A comment does not have to be text that explains the code,it can also be used to prevent Python from executing code:

In [ ]:
# Example
# print("Hello, World")
print("Cheers, Mate!")

Multiline Comments
Python does not really have a syntax for multiline comments.
To add a multiline comment you could insert a # for each line:

In [ ]:
# Example
# This is a comment
# written in
# more than just one line
print("Hello,World")

Or, not quite as intended, You can use a multiline string.

Since Python will ignore string literals that are not assigned to a variable, you can add a multline string(triple quotes) in your code,and place your comment inside it:

In [ ]:
# Example

"""This is a comment written
in more
than just one line
"""
print("Hello, World!")
"""
x=67
y=90
z="Pandi"
"""

Hello, World!

'\nx=67\ny=90\nz="Pandi"\n'

As long as the string is not assinged to a variable,Python will read the code, but then ignore it,and you have made a multiline comment.

Python Variables

Variables

variables are containers for storing data values.

Creating Variables

Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
# Example

x=5
y="Jhon"
print(x)
print(y)

5
Jhon

Variables does not need to be declared with any particular type, and can even change type after they have been set.

In [ ]:
# Example

x=4 # x is of type int
x="Sally" #x is now of type str
print(x)

Sally

Casting

If you want to specify the data type of a variable, this can be done with casting

In [ ]:
# Example

x=str(3) # x will be '3'
y=int(3) # y will be 3
z=float(3) # z will be 3.0

print(x)
print(y)
print(z)

3
3
3.0

Get the Type

You can get the data type of a varriable with the type() function

In [ ]:
# Example
x=5
y="jhone"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Single or Double Quotes?

String variables can be declared either by using single or double quotes:

In [ ]:
# Example
x="Jhon"
print(x)
# is the same as
x='Jhon'
print(x)

Jhon
Jhon

# Case-Sensitive

Varriable names are case-sensitive

In [ ]:
# Example
a=4
A="Sally"
# A will not overwrite a
print(a)
print(A)

4
Sally

# Python - Variable Names

Varialbe Names

A variable can have a short name (like x and y) or a more descriptive name (age,carname,total_volume).Rules for Python variables:

*   A variable name must start with a letter or the underscore character.
*   A variable name cannot start with a number.
*   A variable name can only contain alpha-numeric characters and underscores(A-z,0-9,and _)
*   Variable names are case-sentive (age,Age and AGE are three different variables)
*   A variable name cannot be any of the Python Keywords

In [ ]:
# Example

# Legal variable names:

myvar ="John"
my_var="John"
_my_var="john"
myVar="john"
MYVAR="John"
myvar2="John"

print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

In [ ]:
# Example

# Illegal variable names:

2myvar="John"
my-var="john"
my var="john"

print(2myvar)
print(my-var)
print(my var)

SyntaxError: ignored

# Remember that variable names are case-sensitive

# Multi Words Variable Names

Variable names with more than one word can be difficult to read.
There are several techniques you can use to make them more readable:

# Camel Case

Each word, except the first, starts with a capital letter:
  
  myVariableName="John"


# Pascal Case

 Each word start with a capital letter:

  MyVariableName="John"


# Snake Case

Each word is separated by an underscore character:

my_variable_name="John"

# Python Variables - Assign Multiple Values

# Many Values to Multiple Variables

Python allows you to assign values to multiple variables in one line:

In [ ]:
# Example
x,y,z="Orang","Banana","Cherry"

print(x)
print(y)
print(z)

Orang
Banana
Cherry

# Note Make sure the number of variables matches the number of values, or else you will get an error.

# One Value to Multiple Variables

And you can assign the same value to multiple variables in one line:

In [ ]:
# Example

x=y=z="Orange"

print(x)
print(y)
print(z)

Orange
Orange
Orange

# Unpack a Collection

If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [ ]:
# Example

# Unpack a list:

fruits =["apple","banana","cherry"]

x,y,z=fruits
print(x)
print(y)
print(z)

apple
banana
cherry

# Python - Output Variable
The Python print() function is often used to output variables.

In [ ]:
# Example
x= "Python is awesome"
print(x)

Python is awesome

In the print() function, you output multiple variables,separated by comma:

In [ ]:
# Example
x="Python"
y="is"
z="awesome"

print(x,y,z)

Python is awesome

You can also use the + operator to output multiple variables:

In [ ]:
# Example
x="Python"
y="is"
z="awesome"
print(x+y+z)

Pythonisawesome

# Notice the space character after "Python " and "is " , without them the result would be "Pythonisawesome".

For numbers, the  + character works as a mathematical operator:

In [ ]:
# Example:
x=5
y=10
print(x+y)

15

In the print() function, When you try to combine a string and a number with the + operator,Python will give you an error :

In [ ]:
# Example
x=5
y="John"
print(x+y)

TypeError: ignored

The best way to output multiple variable in the print() function is to separate them with commas, which even support different data types:

In [ ]:
# Example
x=5
y="John"
print(x,y)

5 John

# Python - Global Variables

Global Variables

   Variables that are created outside of a funciton( as in all of the examples above) are known as global variables.

   Global variables can be used by everyone,both inside of functions and outside

In [ ]:
# Example
# Create a variable outsid of a function, use it inside the function

x="awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function.The gloabl variable with the same will remain as it was,global and with the original value.

In [ ]:
# Example

# Create a variable inside a function, with the same name as the global variable

x="awesome"

def myfunc():
  x="fantastic"
  print("Python is "+ x)

myfunc()

print("Python is "+x)

Python is fantastic
Python is awesome

# The global Keyword

Normally, When you create a variable inside a function,that variable is local, and can only be used inside that function.
To create a global variable inside a function,you can use the global keyword

In [ ]:
# Example
# If you use the global keyword,the variable belongs to the global scope:

def myfunc():
  global x
  x= "fantastic"
myfunc()
print("Python is "+x)

Python is fantastic

Also,use the global keyword if you want to change a global variabel inside a function.

In [ ]:
# Example
# To Change the value of a global variable inside a function,refer to the variable by using the global keyword:
x="awesome"

def myfunc():
  global x
  x="fantastic"

myfunc()

print("Python is "+x)

Python is fantastic

# Python Data Types

Built-in Data Types

In programming,data type is an important  concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default,in these categories:

Text Type: str
Numeric Types: int,float,complex
Sequence Types: list,tuple,range
Mapping Type: dict
Set Types: set, frozenset
Boolean Type: bool
Binary Types: bytes,bytearray,memoryview
None Type: NoneType

Getting the Data Type

You can get the data type of any object by using the type() function:

Getting the Data Type

You can get the data type of any object by using the type() function

In [ ]:
# Example
# print the data type of the variable x:
x=5
print(type(x))

<class 'int'>

# Setting the Data Type

In Python, the data type is set when you assign a value to a variable:

In [ ]:
x="Hello World" # str
print(type(x))
x=20 # int
print(type(x))
x=20.5 # float
print(type(x))
x=1j # complex
print(type(x))
x=["apple","banana","cherry"]# list
print(type(x))
x=("apple","banana","cherry") # tuple
print(type(x))
x=range(6) # range
print(type(x))
x={"name":"John","age":36} # dict
print(type(x))
x={"apple","banana","cherry"}  # set
print(type(x))
x=frozenset({"apple","banana","cherry"}) # frozenset
print(type(x))
x=True # bool
print(type(x))
x=b"Hello" # bytes
print(type(x))
x=bytearray(5) # bytearray
print(type(x))
x=memoryview(bytes(5)) # memoryview
print(type(x))
x=None # NoneType
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>
<class 'NoneType'>

# Setting the Specific Data Type

If you want to specify the data type,you can use the following constructor functions:

In [ ]:
x =str("Hello world")
print(type(x))
x=int(20)
print(type(x))
x=float(20.5)
print(type(x))
x=complex(1j)
print(type(x))
x=list(("apple","banana","cherry"))
print(type(x))
x=tuple(("apple","banana","cherry"))
print(type(x))
x=range(6)
print(type(x))
x=dict(name="John",age=36)
print(type(x))
x=set(("apple","banana","cherry"))
print(type(x))
x=frozenset(("apple","banana","cherry"))
print(type(x))
x=bool(5)
print(type(x))
x=bytes(5)
print(type(x))
x=memoryview(bytes(5))
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>

# Python Numbers

Python Numbers

There are three numeric types in Python:

* int
* float
* complex

Variables of numeric types are created when you assign a value to them:

In [ ]:
# Example
x=1 # int
y=2.8 # float
z=1j # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

# Int
Int , or integer,is a whole number ,positive or negative,without decimals,of unlimited length.

In [ ]:
# Example
# Integers:
x=1
y=3565625256545577
z=-32225

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

# Float
Float,or "floating point number" is a number,positive or negative ,containing one  or more decimals.

In [ ]:
# Example

# Floats:

x=1.10
y=1.0
z=-35.58

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [1]:
# Example

# Floats:
x=35e3
y=12E4
z=-87.7e100
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

# Complex
complex numbers are written with a "j" as the imaginary part

In [2]:
# Example
# Complex

x=3+5j
y=5j
z=-5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

# Type Conversion

You can convert from one type to another with int(),float(),and complex() methods:

In [5]:
# Example

# Convert from one type to another:

x=1 # int
y=2.8 # float
z=1j # complex

print(type(z))

# Convert from int to float:

a=float(1)

# Convert from float to int:

b=int(2.8)

# Convert from int to complex:

c=complex(1)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

<class 'complex'>
1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

# Note: You  cannot convert complex numbers into another number type

# Random Number

Python does not have a random() function to make a random number,but Python has a built-in module called random that can be used to make random numbers:

In [7]:
# Example

# Import the random module, and display a random number between 1 and 9:

import random

print(random.randrange(1,10))

4

# Python Casting

Specify a Variable Type

There may be times when you want to specify a type  on to a variable. This can be done with casting. Python is an Object-Oriented language,and as such it uses classes to define data types,including its primitive types.

Casting in python is therefore done using constructor  functions:

* int() - Constructs an integer number from an integer literal, a float literal(by removing all decimals),or a string
literal(providing the sting represents a whole number)

* float() - Constructs a float number from an integer literal, a float literal or a string literal(providing the string represents a float or an integer)

* str() - Constructs a string from a wide variety of data types, including stirngs,integer literals and float literals

In [8]:
# Example
# Integers:

x=int(1) # x will be 1
y=int(2.8) # y will be 2
z=int("3") # z will be 3

print(x)
print(y)
print(z)

1
2
3

In [ ]:
# Example

# Floats:

x=float(1) # x will be 1.0
y=float(2.8) # y will be 2.8
z=float("3") # z will be 3.0
w=float("4.2") # w will be 4.2

print(x)
print(y)
print(z)
print(w)

In [9]:
# Example
# String

x= str("s1") # x will be 's1'
y= str(2) # y will be '2'
z=str(3.0) # z will be '3.0'

print(x)
print(y)
print(z)

s1
2
3.0

# Python String

Strings

Strings in python are surrounded by either single quotation marks, or double quotaion marks

'hello' is the same as "hello".

You can display a string literal with the print() function

In [ ]:
# Example

print("Hello")
print('Hello')

# Assign String to a Variable

Assigning a string to a  variable is done with the variable name follwed by an equal sign and the string:

In [10]:
a="Hello"
print(a)

Hello

# Multiline Strings

You can assign a multiline string to a variabel by using three quotes:

In [11]:
# Example

# You can use three double quotes:

a="""Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""

print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [12]:
# Or three single quotes:

# Example

a='''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''

print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

# Note: In the result, the line breakes are inserted at the same position as in the code.

# Strings are Arrays

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string

In [13]:
# Example

#Get the character at position 1 (remember that the first character has the position 0):

a="Hello World!"
print(a[1])

e

# Looping Through a String

Since string are arrays, we can loop through the characters in a string,with a for loop.

In [14]:
# Example

#Loop through the letters in the word "banana":

for x in "banana":
  print(x)

b
a
n
a
n
a

String Lenght

To get the length of a string,use the len() function.

In [15]:
# Example
#The len() function returns the length of a string:
a="Hello, World!"
print(len(a))

13

# Check String

To check if a certain phrase or character is present in a string, we can use the keyword in

In [30]:
# Example

#Check if "free" is present in the following text:

txt= "The best things in life are free!"
print("free" in txt)
txt ="010000100 "
print("0" in txt)

True
True

In [31]:
# Use it in an if statement:

# Print only if "free" is present:

txt ="The best things in life are free!"

if "free" in txt:
  print("Yes,'free' is present.")

Yes,'free' is present.

In [33]:
# Example

# Check if "expensive" is NOT Present in the following text:

txt="The best things in life are free!"
print("best" not in txt)

False

In [35]:
# Use it in an if statement:

# Example

# print only if "expensive" is NOT present:

txt="The best things in life are free!"

if "expensive" not in txt:
  print("No,'expensive' is NOT present.")

if "best" not in txt:
  print("No,'best' is NOT present.")

No,'expensive' is NOT present.

# Python - Slicing Strings

Slicing

You can return a range of characters by using the slice syntax.

Specify the start index and the end index,separated by a colon,to return a part of the string.

In [36]:
# Example

# Get the characters form position 2 to position 5(not included):
b="Hello, World!"
print(b[2:5])

llo

# Note The first Character has index 0.

# Slice From the Start

By leaving out the start index, the range will start at the first character:

In [37]:
# Example
#Get the characters from the start to position 5(not included):

b="Hello, World!"
print(b[:5])

Hello

# Slice To the End
By  leaving out the end index,the range will go to the end:

In [39]:
# Example
# Get the characters from postion 2, and the way to the end:

b= "Hello, World!"
print(b[2:])

llo, World!

# Negative Indexing

Use negative indexes to start the slice from the end of the string:

In [40]:
# Example
# Get the characters:
# From:"o" in "World!"(postion-5)
# To,but not included:"d" in "World!" (position-2):

b="Hello, World!"
print(b[-5:-2])

orl

# Python - Modify Strings
Python has a set of built-in methods that you can use on strings.

In [45]:
# Upper Case

# Example
# The upper() method returns the string in upper case:
a="Hello, World!"
print(a.upper())
print(a)

HELLO, WORLD!
Hello, World!

In [44]:
# Lower Case

# Example
# The lower() method returns the string in lower case:

a="Hello, World!"
print(a.lower())
print(a)

hello, world!
Hello, World!
Hello, World!

# Remove Whitespace
Whitespace is the space before and/or after the actual text,and very often you want to remove this spaces.

In [47]:
# Example
# The strip() method removes any whitespace from the beginning or the end:

a="  Hello, World!  "

print(a.strip()) # returns "Hello,World!"

print(a)

Hello, World!
  Hello, World!

# Replace String
The replace() method replaces a string with another string:

In [50]:
# Example

a="Hello, HWorld!"
print(a.replace("H","J"))
print(a)

Jello, JWorld!
Hello, HWorld!

# Split String
The split() method returns a list where the text between the specified separator becomes the list items.

In [56]:
# Example
# The split() method split the string into substrings if it finds instances of the separator:

a="Hello, World!"
print(a.split("o")) # returns ['Hello',' World!']
print(a)

['Hell', ', W', 'rld!']
Hello, World!