<a href="https://colab.research.google.com/github/PandiDurai010722/Python_code/blob/master/py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Introduction

What is Python?
python is a popular programming language.It was created by Guido van Rossum,and released in 1991.

It is used for:


1.   Web development(server-side),
2.   Software development,
3.   Mathematics,
4.   System scripting.

What can Python do?


*   Python works on different platforms (Window, Mac,Linux,Raspberry pi,etc)
*   Python has a simple syntax similar to the English language.
*   Python has syntax  that allows developers to write programs with fewer     lines than some other programming languges
*   Python runs on an interpreter system,meaning that code can be executed as soon as it is written.This means that prototyping can be very quick.
*   Python can be treated in a procedural way,an object-oriented way or a functional way

In [2]:
print("Hello,World")

Hello,World

Python Indentation

Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [3]:
# Example
if 5>2:
  print("Five is greater than tow!")

Five is greater than tow!

In [4]:
# Example
# Syntax Error:
if 5> 2:
print("Five is greater than two+")

IndentationError: ignored

The number of spaces is up to you as a programmer,the most common use is four,but it has to be at least one.

In [5]:
# Example

if 5>2:
 print("Five is greater than two!")
if 5>2:
    print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

You have to use the same number of spaces in same block of code, otherwise Python will give you an error:

In [ ]:
# Example
# Syntax Error:

if 5>2:
  print("Five is greater than two!")
    print("Five is greater than two!")

Python Variables

In Python, variables are created when you assing a value to it:

In [6]:
# Example
# Variables in Python:

x =5
y="Hello, World"

print(x)
print(y)

5
Hello, World

Python has no command for declaring a variable.

Comments

Python has commenting capabilty for the purpose of in-code documention.
Comments start with a #, and Python will render the rest of the line as a comment:

In [ ]:
# Example
# Comments in Python:
# This is a comment.
print("Hello,World")

Python Comments

Comments are be used to explain Python code.
Comments can be used to make the code more readable.
Comments can be used to prevent execution when testing code.

Creating a Comment

Comments starts with a # , and Python will ignore them:

In [ ]:
# Example
# This  is a comment
print("Hello, World")

Comments can be placed at the end of a line,and Python  will ignore the rest of the line:

In [ ]:
# Example
print("Hello, World") #This is a comment

A comment does not have to be text that explains the code,it can also be used to prevent Python from executing code:

In [ ]:
# Example
# print("Hello, World")
print("Cheers, Mate!")

Multiline Comments
Python does not really have a syntax for multiline comments.
To add a multiline comment you could insert a # for each line:

In [ ]:
# Example
# This is a comment
# written in
# more than just one line
print("Hello,World")

Or, not quite as intended, You can use a multiline string.

Since Python will ignore string literals that are not assigned to a variable, you can add a multline string(triple quotes) in your code,and place your comment inside it:

In [7]:
# Example

"""This is a comment written
in more
than just one line
"""
print("Hello, World!")
"""
x=67
y=90
z="Pandi"
"""

Hello, World!

'\nx=67\ny=90\nz="Pandi"\n'

As long as the string is not assinged to a variable,Python will read the code, but then ignore it,and you have made a multiline comment.

Python Variables

Variables

variables are containers for storing data values.

Creating Variables

Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [8]:
# Example

x=5
y="Jhon"
print(x)
print(y)

5
Jhon

Variables does not need to be declared with any particular type, and can even change type after they have been set.

In [9]:
# Example

x=4 # x is of type int
x="Sally" #x is now of type str
print(x)

Sally

Casting

If you want to specify the data type of a variable, this can be done with casting

In [12]:
# Example

x=str(3) # x will be '3'
y=int(3) # y will be 3
z=float(3) # z will be 3.0

print(x)
print(y)
print(z)

3
3
3.0

Get the Type

You can get the data type of a varriable with the type() function

In [13]:
# Example
x=5
y="jhone"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Single or Double Quotes?

String variables can be declared either by using single or double quotes:

In [14]:
# Example
x="Jhon"
print(x)
# is the same as
x='Jhon'
print(x)

Jhon
Jhon

# Case-Sensitive

Varriable names are case-sensitive

In [15]:
# Example
a=4
A="Sally"
# A will not overwrite a
print(a)
print(A)

4
Sally

# Python - Variable Names

Varialbe Names

A variable can have a short name (like x and y) or a more descriptive name (age,carname,total_volume).Rules for Python variables:

*   A variable name must start with a letter or the underscore character.
*   A variable name cannot start with a number.
*   A variable name can only contain alpha-numeric characters and underscores(A-z,0-9,and _)
*   Variable names are case-sentive (age,Age and AGE are three different variables)
*   A variable name cannot be any of the Python Keywords

In [ ]:
# Example

# Legal variable names:

myvar ="John"
my_var="John"
_my_var="john"
myVar="john"
MYVAR="John"
myvar2="John"

print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

In [16]:
# Example

# Illegal variable names:

2myvar="John"
my-var="john"
my var="john"

print(2myvar)
print(my-var)
print(my var)

SyntaxError: ignored

# Remember that variable names are case-sensitive

# Multi Words Variable Names

Variable names with more than one word can be difficult to read.
There are several techniques you can use to make them more readable:

# Camel Case

Each word, except the first, starts with a capital letter:
  
  myVariableName="John"


# Pascal Case

 Each word start with a capital letter:

  MyVariableName="John"


# Snake Case

Each word is separated by an underscore character:

my_variable_name="John"

# Python Variables - Assign Multiple Values

# Many Values to Multiple Variables

Python allows you to assign values to multiple variables in one line:

In [17]:
# Example
x,y,z="Orang","Banana","Cherry"

print(x)
print(y)
print(z)

Orang
Banana
Cherry

# Note Make sure the number of variables matches the number of values, or else you will get an error.

# One Value to Multiple Variables

And you can assign the same value to multiple variables in one line:

In [18]:
# Example

x=y=z="Orange"

print(x)
print(y)
print(z)

Orange
Orange
Orange

# Unpack a Collection

If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [19]:
# Example

# Unpack a list:

fruits =["apple","banana","cherry"]

x,y,z=fruits
print(x)
print(y)
print(z)

apple
banana
cherry

# Python - Output Variable
The Python print() function is often used to output variables.

In [20]:
# Example
x= "Python is awesome"
print(x)

Python is awesome

In the print() function, you output multiple variables,separated by comma:

In [22]:
# Example
x="Python"
y="is"
z="awesome"

print(x,y,z)

Python is awesome

You can also use the + operator to output multiple variables:

In [23]:
# Example
x="Python"
y="is"
z="awesome"
print(x+y+z)

Pythonisawesome

# Notice the space character after "Python " and "is " , without them the result would be "Pythonisawesome".

For numbers, the  + character works as a mathematical operator:

In [24]:
# Example:
x=5
y=10
print(x+y)

15

In the print() function, When you try to combine a string and a number with the + operator,Python will give you an error :

In [25]:
# Example
x=5
y="John"
print(x+y)

TypeError: ignored

The best way to output multiple variable in the print() function is to separate them with commas, which even support different data types:

In [26]:
# Example
x=5
y="John"
print(x,y)

5 John

# Python - Global Variables

Global Variables

   Variables that are created outside of a funciton( as in all of the examples above) are known as global variables.

   Global variables can be used by everyone,both inside of functions and outside

In [27]:
# Example
# Create a variable outsid of a function, use it inside the function

x="awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function.The gloabl variable with the same will remain as it was,global and with the original value.

In [28]:
# Example

# Create a variable inside a function, with the same name as the global variable

x="awesome"

def myfunc():
  x="fantastic"
  print("Python is "+ x)

myfunc()

print("Python is "+x)

Python is fantastic
Python is awesome

# The global Keyword

Normally, When you create a variable inside a function,that variable is local, and can only be used inside that function.
To create a global variable inside a function,you can use the global keyword

In [29]:
# Example
# If you use the global keyword,the variable belongs to the global scope:

def myfunc():
  global x
  x= "fantastic"
myfunc()
print("Python is "+x)

Python is fantastic

Also,use the global keyword if you want to change a global variabel inside a function.

In [31]:
# Example
# To Change the value of a global variable inside a function,refer to the variable by using the global keyword:
x="awesome"

def myfunc():
  global x
  x="fantastic"

myfunc()

print("Python is "+x)

Python is fantastic

# Python Data Types

Built-in Data Types

In programming,data type is an important  concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default,in these categories:

Text Type: str
Numeric Types: int,float,complex
Sequence Types: list,tuple,range
Mapping Type: dict
Set Types: set, frozenset
Boolean Type: bool
Binary Types: bytes,bytearray,memoryview
None Type: NoneType

Getting the Data Type

You can get the data type of any object by using the type() function:

Getting the Data Type

You can get the data type of any object by using the type() function

In [32]:
# Example
# print the data type of the variable x:
x=5
print(type(x))

<class 'int'>

# Setting the Data Type

In Python, the data type is set when you assign a value to a variable:

In [52]:
x="Hello World" # str
print(type(x))
x=20 # int
print(type(x))
x=20.5 # float
print(type(x))
x=1j # complex
print(type(x))
x=["apple","banana","cherry"]# list
print(type(x))
x=("apple","banana","cherry") # tuple
print(type(x))
x=range(6) # range
print(type(x))
x={"name":"John","age":36} # dict
print(type(x))
x={"apple","banana","cherry"}  # set
print(type(x))
x=frozenset({"apple","banana","cherry"}) # frozenset
print(type(x))
x=True # bool
print(type(x))
x=b"Hello" # bytes
print(type(x))
x=bytearray(5) # bytearray
print(type(x))
x=memoryview(bytes(5)) # memoryview
print(type(x))
x=None # NoneType
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>
<class 'NoneType'>

# Setting the Specific Data Type

If you want to specify the data type,you can use the following constructor functions:

In [58]:
x =str("Hello world")
print(type(x))
x=int(20)
print(type(x))
x=float(20.5)
print(type(x))
x=complex(1j)
print(type(x))
x=list(("apple","banana","cherry"))
print(type(x))
x=tuple(("apple","banana","cherry"))
print(type(x))
x=range(6)
print(type(x))
x=dict(name="John",age=36)
print(type(x))
x=set(("apple","banana","cherry"))
print(type(x))
x=frozenset(("apple","banana","cherry"))
print(type(x))
x=bool(5)
print(type(x))
x=bytes(5)
print(type(x))
x=memoryview(bytes(5))
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>

# Python Numbers

Python Numbers

There are three numeric types in Python:

* int
* float
* complex

Variables of numeric types are created when you assign a value to them:

In [59]:
# Example
x=1 # int
y=2.8 # float
z=1j # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

# Int
Int , or integer,is a whole number ,positive or negative,without decimals,of unlimited length.

In [60]:
# Example
# Integers:
x=1
y=3565625256545577
z=-32225

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

# Float
Float,or "floating point number" is a number,positive or negative ,containing one  or more decimals.

In [61]:
# Example

# Floats:

x=1.10
y=1.0
z=-35.58

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [ ]:
# Example

# Floats:
x=35e3
y=12E4
z=-87.7e100
print(type(x))
print()