<a href="https://colab.research.google.com/github/PandiDurai010722/Python_code/blob/master/py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Introduction

What is Python?
python is a popular programming language.It was created by Guido van Rossum,and released in 1991.

It is used for:


1.   Web development(server-side),
2.   Software development,
3.   Mathematics,
4.   System scripting.

What can Python do?


*   Python works on different platforms (Window, Mac,Linux,Raspberry pi,etc)
*   Python has a simple syntax similar to the English language.
*   Python has syntax  that allows developers to write programs with fewer     lines than some other programming languges
*   Python runs on an interpreter system,meaning that code can be executed as soon as it is written.This means that prototyping can be very quick.
*   Python can be treated in a procedural way,an object-oriented way or a functional way

In [ ]:
print("Hello,World")

Hello,World

Python Indentation

Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [ ]:
# Example
if 5>2:
  print("Five is greater than tow!")

Five is greater than tow!

In [ ]:
# Example
# Syntax Error:
if 5> 2:
print("Five is greater than two+")

IndentationError: ignored

The number of spaces is up to you as a programmer,the most common use is four,but it has to be at least one.

In [ ]:
# Example

if 5>2:
 print("Five is greater than two!")
if 5>2:
    print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

You have to use the same number of spaces in same block of code, otherwise Python will give you an error:

In [ ]:
# Example
# Syntax Error:

if 5>2:
  print("Five is greater than two!")
    print("Five is greater than two!")

Python Variables

In Python, variables are created when you assing a value to it:

In [ ]:
# Example
# Variables in Python:

x =5
y="Hello, World"

print(x)
print(y)

5
Hello, World

Python has no command for declaring a variable.

Comments

Python has commenting capabilty for the purpose of in-code documention.
Comments start with a #, and Python will render the rest of the line as a comment:

In [ ]:
# Example
# Comments in Python:
# This is a comment.
print("Hello,World")

Python Comments

Comments are be used to explain Python code.
Comments can be used to make the code more readable.
Comments can be used to prevent execution when testing code.

Creating a Comment

Comments starts with a # , and Python will ignore them:

In [ ]:
# Example
# This  is a comment
print("Hello, World")

Comments can be placed at the end of a line,and Python  will ignore the rest of the line:

In [ ]:
# Example
print("Hello, World") #This is a comment

A comment does not have to be text that explains the code,it can also be used to prevent Python from executing code:

In [ ]:
# Example
# print("Hello, World")
print("Cheers, Mate!")

Cheers, Mate!

Multiline Comments
Python does not really have a syntax for multiline comments.
To add a multiline comment you could insert a # for each line:

In [ ]:
# Example
# This is a comment
# written in
# more than just one line
print("Hello,World")

Or, not quite as intended, You can use a multiline string.

Since Python will ignore string literals that are not assigned to a variable, you can add a multline string(triple quotes) in your code,and place your comment inside it:

In [ ]:
# Example

"""This is a comment written
in more
than just one line
"""
print("Hello, World!")
"""
x=67
y=90
z="Pandi"
"""

Hello, World!

'\nx=67\ny=90\nz="Pandi"\n'

As long as the string is not assinged to a variable,Python will read the code, but then ignore it,and you have made a multiline comment.

Python Variables

Variables

variables are containers for storing data values.

Creating Variables

Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
# Example

x=5
y="Jhon"
print(x)
print(y)

5
Jhon

Variables does not need to be declared with any particular type, and can even change type after they have been set.

In [ ]:
# Example

x=4 # x is of type int
x="Sally" #x is now of type str
print(x)

Sally

Casting

If you want to specify the data type of a variable, this can be done with casting

In [ ]:
# Example

x=str(3) # x will be '3'
y=int(3) # y will be 3
z=float(3) # z will be 3.0

print(x)
print(y)
print(z)

3
3
3.0

Get the Type

You can get the data type of a varriable with the type() function

In [ ]:
# Example
x=5
y="jhone"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Single or Double Quotes?

String variables can be declared either by using single or double quotes:

In [ ]:
# Example
x="Jhon"
print(x)
# is the same as
x='Jhon'
print(x)

Jhon
Jhon

# Case-Sensitive

Varriable names are case-sensitive

In [ ]:
# Example
a=4
A="Sally"
# A will not overwrite a
print(a)
print(A)

4
Sally

# Python - Variable Names

Varialbe Names

A variable can have a short name (like x and y) or a more descriptive name (age,carname,total_volume).Rules for Python variables:

*   A variable name must start with a letter or the underscore character.
*   A variable name cannot start with a number.
*   A variable name can only contain alpha-numeric characters and underscores(A-z,0-9,and _)
*   Variable names are case-sentive (age,Age and AGE are three different variables)
*   A variable name cannot be any of the Python Keywords

In [ ]:
# Example

# Legal variable names:

myvar ="John"
my_var="John"
_my_var="john"
myVar="john"
MYVAR="John"
myvar2="John"

print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

In [ ]:
# Example

# Illegal variable names:

2myvar="John"
my-var="john"
my var="john"

print(2myvar)
print(my-var)
print(my var)

SyntaxError: ignored

# Remember that variable names are case-sensitive

# Multi Words Variable Names

Variable names with more than one word can be difficult to read.
There are several techniques you can use to make them more readable:

# Camel Case

Each word, except the first, starts with a capital letter:
  
  myVariableName="John"


# Pascal Case

 Each word start with a capital letter:

  MyVariableName="John"


# Snake Case

Each word is separated by an underscore character:

my_variable_name="John"

# Python Variables - Assign Multiple Values

# Many Values to Multiple Variables

Python allows you to assign values to multiple variables in one line:

In [ ]:
# Example
x,y,z="Orang","Banana","Cherry"

print(x)
print(y)
print(z)

Orang
Banana
Cherry

# Note Make sure the number of variables matches the number of values, or else you will get an error.

# One Value to Multiple Variables

And you can assign the same value to multiple variables in one line:

In [ ]:
# Example

x=y=z="Orange"

print(x)
print(y)
print(z)
x="orange","banana"
print(type(x))

Orange
Orange
Orange
<class 'tuple'>

# Unpack a Collection

If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [ ]:
# Example

# Unpack a list:

fruits =["apple","banana","cherry"]

x,y,z=fruits
print(x)
print(y)
print(z)

apple
banana
cherry

# Python - Output Variable
The Python print() function is often used to output variables.

In [ ]:
# Example
x= "Python is awesome"
print(x)

Python is awesome

In the print() function, you output multiple variables,separated by comma:

In [ ]:
# Example
x="Python"
y="is"
z="awesome"

print(x,y,z)

Python is awesome

You can also use the + operator to output multiple variables:

In [ ]:
# Example
x="Python"
y="is"
z="awesome"
print(x+y+z)

Pythonisawesome

# Notice the space character after "Python " and "is " , without them the result would be "Pythonisawesome".

For numbers, the  + character works as a mathematical operator:

In [ ]:
# Example:
x=5
y=10
print(x+y)

15

In the print() function, When you try to combine a string and a number with the + operator,Python will give you an error :

In [ ]:
# Example
x=5
y="John"
print(x+y)

TypeError: ignored

The best way to output multiple variable in the print() function is to separate them with commas, which even support different data types:

In [ ]:
# Example
x=5
y="John"
print(x,y)

5 John

# Python - Global Variables

Global Variables

   Variables that are created outside of a funciton( as in all of the examples above) are known as global variables.

   Global variables can be used by everyone,both inside of functions and outside

In [ ]:
# Example
# Create a variable outsid of a function, use it inside the function

x="awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function.The gloabl variable with the same will remain as it was,global and with the original value.

In [ ]:
# Example

# Create a variable inside a function, with the same name as the global variable

x="awesome"

def myfunc():
  x="fantastic"
  print("Python is "+ x)

myfunc()

print("Python is "+x)

Python is fantastic
Python is awesome

# The global Keyword

Normally, When you create a variable inside a function,that variable is local, and can only be used inside that function.
To create a global variable inside a function,you can use the global keyword

In [ ]:
# Example
# If you use the global keyword,the variable belongs to the global scope:

def myfunc():
  global x
  x= "fantastic"
myfunc()
print("Python is "+x)

Python is fantastic

Also,use the global keyword if you want to change a global variabel inside a function.

In [ ]:
# Example
# To Change the value of a global variable inside a function,refer to the variable by using the global keyword:
x="awesome"

def myfunc():
  global x
  x="fantastic"
  print(x)

myfunc()

print("Python is "+x)

fantastic
Python is fantastic

# Python Data Types

Built-in Data Types

In programming,data type is an important  concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default,in these categories:

Text Type: str
Numeric Types: int,float,complex
Sequence Types: list,tuple,range
Mapping Type: dict
Set Types: set, frozenset
Boolean Type: bool
Binary Types: bytes,bytearray,memoryview
None Type: NoneType

Getting the Data Type

You can get the data type of any object by using the type() function:

Getting the Data Type

You can get the data type of any object by using the type() function

In [ ]:
# Example
# print the data type of the variable x:
x=5
print(type(x))

<class 'int'>

# Setting the Data Type

In Python, the data type is set when you assign a value to a variable:

In [ ]:
x="Hello World" # str
print(type(x))
x=20 # int
print(type(x))
x=20.5 # float
print(type(x))
x=1j # complex
print(type(x))
x=["apple","banana","cherry"]# list
print(type(x))
x=("apple","banana","cherry") # tuple
print(type(x))
x=range(6) # range
print(type(x))
x={"name":"John","age":36} # dict
print(type(x))
x={"apple","banana","cherry"}  # set
print(type(x))
x=frozenset({"apple","banana","cherry"}) # frozenset
print(type(x))
x=True # bool
print(type(x))
x=b"Hello" # bytes
print(type(x))
x=bytearray(5) # bytearray
print(type(x))
x=memoryview(bytes(5)) # memoryview
print(type(x))
x=None # NoneType
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>
<class 'NoneType'>

# Setting the Specific Data Type

If you want to specify the data type,you can use the following constructor functions:

In [ ]:
x =str("Hello world")
print(type(x))
x=int(20)
print(type(x))
x=float(20.5)
print(type(x))
x=complex(1j)
print(type(x))
x=list(("apple","banana","cherry"))
print(type(x))
x=tuple(("apple","banana","cherry"))
print(type(x))
x=range(6)
print(type(x))
x=dict(name="John",age=36)
print(type(x))
x=set(("apple","banana","cherry"))
print(type(x))
x=frozenset(("apple","banana","cherry"))
print(type(x))
x=bool(5)
print(type(x))
x=bytes(5)
print(type(x))
x=memoryview(bytes(5))
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>

# Python Numbers

Python Numbers

There are three numeric types in Python:

* int
* float
* complex

Variables of numeric types are created when you assign a value to them:

In [ ]:
# Example
x=1 # int
y=2.8 # float
z=1j # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

# Int
Int , or integer,is a whole number ,positive or negative,without decimals,of unlimited length.

In [ ]:
# Example
# Integers:
x=1
y=3565625256545577
z=-32225

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

# Float
Float,or "floating point number" is a number,positive or negative ,containing one  or more decimals.

In [ ]:
# Example

# Floats:

x=1.10
y=1.0
z=-35.58

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [ ]:
# Example

# Floats:
x=35e3
y=12E4
z=-87.7e100
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

# Complex
complex numbers are written with a "j" as the imaginary part

In [ ]:
# Example
# Complex

x=3+5j
y=5j
z=-5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

# Type Conversion

You can convert from one type to another with int(),float(),and complex() methods:

In [ ]:
# Example

# Convert from one type to another:

x=1 # int
y=2.8 # float
z=1j # complex

print(type(z))

# Convert from int to float:

a=float(1)

# Convert from float to int:

b=int(2.8)

# Convert from int to complex:

c=complex(1)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

<class 'complex'>
1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

# Note: You  cannot convert complex numbers into another number type

# Random Number

Python does not have a random() function to make a random number,but Python has a built-in module called random that can be used to make random numbers:

In [ ]:
# Example

# Import the random module, and display a random number between 1 and 9:

import random

print(random.randrange(1,10))

4

# Python Casting

Specify a Variable Type

There may be times when you want to specify a type  on to a variable. This can be done with casting. Python is an Object-Oriented language,and as such it uses classes to define data types,including its primitive types.

Casting in python is therefore done using constructor  functions:

* int() - Constructs an integer number from an integer literal, a float literal(by removing all decimals),or a string
literal(providing the sting represents a whole number)

* float() - Constructs a float number from an integer literal, a float literal or a string literal(providing the string represents a float or an integer)

* str() - Constructs a string from a wide variety of data types, including stirngs,integer literals and float literals

In [ ]:
# Example
# Integers:

x=int(1) # x will be 1
y=int(2.8) # y will be 2
z=int("3") # z will be 3

print(x)
print(y)
print(z)

1
2
3

In [ ]:
# Example

# Floats:

x=float(1) # x will be 1.0
y=float(2.8) # y will be 2.8
z=float("3") # z will be 3.0
w=float("4.2") # w will be 4.2

print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [ ]:
# Example
# String

x= str("s1") # x will be 's1'
y= str(2) # y will be '2'
z=str(3.0) # z will be '3.0'

print(x)
print(y)
print(z)

s1
2
3.0

# Python String

Strings

Strings in python are surrounded by either single quotation marks, or double quotaion marks

'hello' is the same as "hello".

You can display a string literal with the print() function

In [ ]:
# Example

print("Hello")
print('Hello')

# Assign String to a Variable

Assigning a string to a  variable is done with the variable name follwed by an equal sign and the string:

In [ ]:
a="Hello"
print(a)

Hello

# Multiline Strings

You can assign a multiline string to a variabel by using three quotes:

In [ ]:
# Example

# You can use three double quotes:

a="""Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""

print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
# Or three single quotes:

# Example

a='''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''

print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

# Note: In the result, the line breakes are inserted at the same position as in the code.

# Strings are Arrays

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string

In [ ]:
# Example

#Get the character at position 1 (remember that the first character has the position 0):

a="Hello World!"
print(a[1])

e

# Looping Through a String

Since string are arrays, we can loop through the characters in a string,with a for loop.

In [ ]:
# Example

#Loop through the letters in the word "banana":

for x in "banana":
  print(x)

b
a
n
a
n
a

String Length

To get the length of a string,use the len() function.

In [ ]:
# Example
#The len() function returns the length of a string:
a="Hello, World!"
print(len(a))

13

# Check String

To check if a certain phrase or character is present in a string, we can use the keyword in

In [ ]:
# Example

#Check if "free" is present in the following text:

txt= "The best things in life are free!"
print("free" in txt)
txt ="010000100 "
print("0" in txt)

True
True

In [ ]:
# Use it in an if statement:

# Print only if "free" is present:

txt ="The best things in life are free!"

if "free" in txt:
  print("Yes,'free' is present.")

Yes,'free' is present.

In [ ]:
# Example

# Check if "expensive" is NOT Present in the following text:

txt="The best things in life are free!"
print("best" not in txt)

False

In [ ]:
# Use it in an if statement:

# Example

# print only if "expensive" is NOT present:

txt="The best things in life are free!"

if "expensive" not in txt:
  print("No,'expensive' is NOT present.")

if "best" not in txt:
  print("No,'best' is NOT present.")

No,'expensive' is NOT present.

# Python - Slicing Strings

Slicing

You can return a range of characters by using the slice syntax.

Specify the start index and the end index,separated by a colon,to return a part of the string.

In [ ]:
# Example

# Get the characters form position 2 to position 5(not included):
b="Hello, World!"
print(b[2:5])

llo

# Note The first Character has index 0.

# Slice From the Start

By leaving out the start index, the range will start at the first character:

In [ ]:
# Example
#Get the characters from the start to position 5(not included):

b="Hello, World!"
print(b[:5])

Hello

# Slice To the End
By  leaving out the end index,the range will go to the end:

In [ ]:
# Example
# Get the characters from postion 2, and the way to the end:

b= "Hello, World!"
print(b[2:])

llo, World!

# Negative Indexing

Use negative indexes to start the slice from the end of the string:

In [ ]:
# Example
# Get the characters:
# From:"o" in "World!"(postion-5)
# To,but not included:"d" in "World!" (position-2):

b="Hello, World!"
print(b[-5:-2])

orl

# Python - Modify Strings
Python has a set of built-in methods that you can use on strings.

In [ ]:
# Upper Case

# Example
# The upper() method returns the string in upper case:
a="Hello, World!"
print(a.upper())
print(a)

HELLO, WORLD!
Hello, World!

In [ ]:
# Lower Case

# Example
# The lower() method returns the string in lower case:

a="Hello, World!"
print(a.lower())
print(a)

hello, world!
Hello, World!
Hello, World!

# Remove Whitespace
Whitespace is the space before and/or after the actual text,and very often you want to remove this spaces.

In [ ]:
# Example
# The strip() method removes any whitespace from the beginning or the end:

a="  Hello, World!  "

print(a.strip()) # returns "Hello,World!"

print(a)

Hello, World!
  Hello, World!

# Replace String
The replace() method replaces a string with another string:

In [ ]:
# Example

a="Hello, HWorld!"
print(a.replace("H","J"))
print(a)

Jello, JWorld!
Hello, HWorld!

# Split String
The split() method returns a list where the text between the specified separator becomes the list items.

In [ ]:
# Example
# The split() method split the string into substrings if it finds instances of the separator:

a="Hello, World!"
print(a.split("o")) # returns ['Hello',' World!']
print(a)

['Hell', ', W', 'rld!']
Hello, World!

# Python - String Concatenation

String Concatenation

To concatenation, or combine,two strings you can use the + operator.

In [ ]:
# Example
# Merge variable a with variable b into variable c:

a="Hello"
b="World"
c=a+b
print(c)

HelloWorld

In [ ]:
# Example
# To add a space between them, add a " ":
a="Hello"
b="Word"
c=a+" "+b
print(c)

Hello Word

# Python - Format - Strings
String Format

As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [ ]:
age=36
txt="My name is John, I am"+age
print(txt)

TypeError: ignored

But we can combine stings and numbers by using the format() method!.

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders{} are

In [ ]:
age =36
txt ="My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

In [ ]:
# Example
quantity =3
itemno=567
price=49.95
myorder="I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity,itemno,price))

I want 3 pieces of item 567 for 49.95 dollars.

You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

In [ ]:
# Example
quantity =3
itemno=567
price=49.95
myorder="I want to pay {2} dollars for {0} pieces of item {1}"
print(myorder.format(quantity,itemno,price))

I want to pay 49.95 dollars for 3 pieces of item 567

# Python - Escape Characters

# Escape Character

To insert characters that are illegal in a string, use an escape character.
An escape character is a backslash \ followed by the character you want to insert.
An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [ ]:
# Example
# You will get an error if you use double quotes inside a string that is surrounded by double quotes:

txt="We are the so-called "Vikings" from the north."

SyntaxError: ignored

To fix this problem, use the character \":

In [ ]:
# Example:
# The escape character allows you to use double quotes when you normally would not be allowed:

txt="We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

# Escape Characters

# Single Quote

In [ ]:
txt='It\'s alright.'
print(txt)

It's alright.

# Backslash

In [ ]:
txt="This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

# New Line

In [ ]:
txt="Hello\nWorld!"
print(txt)

Hello
World!

# Carriage Return

In [ ]:
txt="Hello\rWorld!"
print(txt)

World!

# Tap

In [ ]:
txt="Hello\tWordl!"
print(txt)

Hello	Wordl!

# BackSpace

In [ ]:
# This example erases one chracters (backespace):
txt="Hello \bWorld!"
print(txt)

Hello World!

# Form Feed

In [ ]:
txt ="Hello\fWorld!"
print(txt)

HelloWorld!

# Ocatal Value

In [ ]:
# A backslach followed by three integers will result in octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

# Hex value

In [ ]:
# A backslash followed by an 'x' and a hex number represents a hex vlaue :
txt="\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

# Python - String Methods

# String Methods

Python has a set of built-in methods that you can use on strings.

# Note: All String methods return new values. They do not change the original string.

# Capitalize()
   Converts the first character to upper case

In [ ]:
# Example
# Upper case the first letter in this sentence:

txt="hello, and  welcome to my world."
x=txt.capitalize()
print(x)

Hello, and  welcome to my world.

# Definition and Usage

The capitalize() method returns a string where the first character is upper case,and the rest is lower case.

# Syntax

string.capitalize()

# parameter Values

No parameters

In [ ]:
# More Examples

# Example

# The first character is converted to upper case, and the rest are converted to lower case:
txt="python is FUN!"

x=txt.capitalize()
print(x)

# Example
txt="36 is my age."
x=txt.capitalize()
print(x)

Python is fun!
36 is my age.

# Python String casefold() Method

In [ ]:
# Example
# Make the string lower  case:

txt="Hello, And WElcome To My World!"
x=txt.casefold()
print(x)
print(txt.lower())

hello, and welcome to my world!
hello, and welcome to my world!

# Definition and Usage

The casefold() method returns a string where all the characters are lower case.
This method is similar to the lower() method,but the casefold() method is stronger,more aggressive,meaning that it will convert more characters into lower case, and will find more matches when comparing two strings and both are converted using the casefold() method.

# Syntax
string.casefold()

# Parameter Values

No parameters

# Python - String center() Method

In [ ]:
# Example
# Print the word "banana", taking up the space of 20 characters, with "banana" in the middle:

txt="banana"
x=txt.center(20)
print(x)

       banana

# Definition and Usage
The center() method will center align the string , using a specified character (space is default) as the fill character.

# Syntax
string.center(length,character)

# Parameter  Values

length =>  Required.The length of the returned string

character=> Optional. The character to fill the missing space on each side. Default is " "(space)

In [ ]:
# Example
txt="banana"
x=txt.center(20,"P")
print(x)

PPPPPPPbananaPPPPPPP

# Python String count() Method

In [ ]:
# Example
# Return the number of times the value "apple" appears in the string :

txt="I love apples,apple are my favorite fruit"

x=txt.count("apple")

print(x)

2

# Definition and Usage

The count() method returns the number of times a specified value appears in the string.

# Syntax

String.count(value,start,end)

# Parameter Values

value => Required. A String. The string to value to search for

start => Optional. An Integer. The position to start the search. Default is 0

end=>  Optional . An Interger. The position to end the search. Default is the end of the string.

In [ ]:
# More Examples

# search from position 10 to 24:

txt="I love apples, apple are my favorite fruit"

x=txt.count("apple",7,24)

print(x)

2

# Python String encode() Method

In [ ]:
# Example
# UTF-8 encode the string:

txt="My name is Ståle"
x=txt.encode()
print(x)

b'My name is St\xc3\xa5le'

# Definition and Usage
The encode() method encodes the string, using the specified encoding. If no encoding is specified, UTF-8 will be used.

# Syntax
string.encode(encoding=encoding,errors=errors)

# Parameter Values

encoding: Optional. A String specifying the encoding to use. Default is UTF-8

errors: Optional. A String specifying the error method. Legal values are:

'backslashreplace'- uses a backslash instead of the character that could not be encoded

'ignore' - ignores the character with a text explaining the character

'strict' - Default ,raises an error on failure

'replace' - replaces the character with a
questionmark

'xmlcharrefreplace' - replaces the character with an xml character

In [ ]:
# Example

# These examples uses ascii encoding, and a character that cannot be encoded, showing the result with different errors:

txt = "My name is Ståle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

# Python String endswith() Method

# Example
# Check if the string ends with a punctuation sign (.):

In [ ]:
txt ="Hello, welcome to my world."
x=txt.endswith(".")
print(x)

True


# Definition and Usage

The endswith() method returns True if the string ends with the specified value, otherwise False.


# Syntax
 string.endswith(value,start,end)

# Parameter Values

value =>  Required. The value to check if the string ends with

start =>  Optional. An Integer specifying at which position to start the search

end  =>  Optional. An Integer specifying at which postion to end the search

In [ ]:
# More Examples

# Example

# Check if the string ends with the phrase "my world.":

txt ="Hello, Welcome to my world."

x=txt.endswith('my world.')

print(x)

True

In [ ]:
# Example
# Check if position 5 to 11 ends with phrase "my world.":

txt="Hello, welcome to my world."

x=txt.endswith("my world.",5,11)
print(x)

False

# Python String expandtabs() Method

# Example
# Set the tab size to  2 white spaces:

In [ ]:
txt ="H\te\tl\tl\to"
print(txt)
x=txt.expandtabs(2)
print(x)

H	e	l	l	o
H e l l o

# Definition and Usage

The expandtabs() method sets the tab size to the specified number of whitespaces.

# Syntax

string.expandtabs(tabsize)

# Parameter Values

tabsize  =>  Optional. A number specifying the tabsize. Default tabsize is 8

In [ ]:
# Example
txt="H\te\tl\tl\to"
print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

txt="Hello"
print(txt.expandtabs(5))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o
Hello

# Python String find() Method

In [ ]:
# Example
txt="Hello, welcome to my world."
x=txt.find("welcome")
print(x)

7

# Definition and Usage

The find() method finds the first occurence of the specified value.

The find() method returns - 1 if the value is not found.

The find() method is almost the same as the index() method, the only difference is that the index() method raises an exception if the value is not found. (See example below)

# Syntax

string.find(value,start,end)

value  => Required. The value to search for

start  => Optional. Where to start the search. Default 0

end   => Optional. where to end the search. Default is to the end of the string

In [ ]:
# Example

txt="Hello, Welcome to my world."

x=txt.find("e")
print(x)

1

In [ ]:
# Example
txt ="Hello, Welecome to my world."
x=txt.find("e",5,11)
print(x)

8

In [ ]:
# Example
#If the value is not found, the find() method returns -1, but the index() method will raise an exception:

txt="Hello, Welcome to my world."
print(txt.find("q"))
print(txt.find("q"))

-1
-1

# Python string format() Method

In [ ]:
# Example
# Insert the price inside the placeholder, the price should be in fixed point,two -decimal format:

txt="For only {price:.2f} dollars!"
print(txt.format(price=49))

For only 49.00 dollars!

# Definition and Usage

The format() method formats the specified value(s) and insert them inside the string's placeholder.

The placeholder is defined using curly brackets: {}. Read more about the placeholders in the Placeholder section below.

The format() method returns the formatted string.

# Syntax
  string.format(value1,value2....)


# Parameter Values

  value1, value2  ==> Required.One or more values that should be formatted and inserted in the string.

  The values are either a list of values separated by commas,a key =value list, or a  combination of  both.

The values can be of any data type.


# The  Placeholders

The placeholders can be identified using named indexes {price},numbered indexes{0},or even empty placeholders {}.

In [ ]:
# Example
# Using different placeholder values:

txt1="My name is {fname}, I'm {age}". format(fname="John",age=36)
txt2="My name is {0}, I'm {1}.".format("john",36)
txt3="My name is {}, I'm {}.".format("John",36)

print(txt1)
print(txt2)
print(txt3)

My name is John, I'm 36
My name is john, I'm 36.
My name is John, I'm 36.

In [ ]:
# To demonstrate, we insert the number 8 to set the availabel space fo the value to  8 characters.
# Use "<" to left-align the value:

txt="We have {:<8} chickens."   # :< Left aligns the result(Within the available space)

print(txt.format(49))

We have 49       chickens.

In [ ]:
# To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

# Use ">" to right-align the value:
txt="We have {:>8} Chickens."
print(txt.format(49))

We have       49 Chickens.

In [ ]:
# To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

# Use "^" to center-align the value:

txt="We have {:^8} chickens."
print(txt.format(49))

We have    49    chickens.

In [ ]:
# To demonstrate, we insert the number 8 to spcify the available space for the value.

# Use "=" to place the plus/minus sign at the left most position:

txt="The temperature is {:=8} degrees celsius."

print(txt.format(-5))

The temperature is -      5 degrees celsius.

In [ ]:
# Use "+" to always indicate if the number is positive or negative:

txt= "The temperature is between {:+} and {:+} degrees celsius."

print(txt.format(-3,7))

The temperature is between -3 and +7 degrees celsius.

In [ ]:
# Use "-" to always indicate if the number is negative (positive numbers are displayed without any sign):

txt="The temperature is between{:-} and {:-} degrees celsius."
print(txt.format(-3,7))

The temperature is between-3 and 7 degrees celsius.

In [ ]:
# Use " "(a space) to insert a space before positive numbers and a minus sign before negative numbers:
txt="The temperature is between {: } and {: } degrees celsius."
print(txt.format(-3,7))

The temperature is between -3 and  7 degrees celsius.

In [ ]:
# Use "," to add a comma as a thousand separator:
txt="The universe is {:,} years old"
print(txt.format(13800000000))

The universe is 13,800,000,000 years old

In [ ]:
# Use "_" to add a underscore character as a thousand separator:

txt="The universe is {:_} years old."
print(txt.format(13800000000))

The universe is 13_800_000_000 years old.

In [ ]:
# Use "b" to convert the number into binary format:
txt="The binary version of {0} is {0:b}"
print(txt.format(5))

The binary version of 5 is 101

In [ ]:
txt="The Unicode  of character {0:c}"
print(txt.format(50))

The Unicode  of character 2

In [ ]:
# Use "d" to convert a number, in this case a binary number, into decimal number format:
txt="We have {:d} chickens."
print(txt.format(0b101))

We have 5 chickens.

In [ ]:
# Use "e" to convert a number into scientific number format (with a lower-case e):
txt="We have {:e} chickens."

print(txt.format(5))

We have 5.000000e+00 chickens.

In [ ]:
# Use "E" to convert a number into scientific number format (with an upper-case E):
txt="We have {:E} chickens."
print(txt.format(5))

We have 5.000000E+00 chickens.

In [ ]:
# Use "f" to convert a number into a fixed  point number,default with 6 decimals,
# but use a period followed by a number to specify the number of decimals:

txt="The price is {:.2f} dollars."
print(txt.format(45))

# Without the ".2" inside the placeholder, this number will be displayed like this:

txt ="The price is {:f} dollars."
print(txt.format(45))

txt = "The price is {:.4f} dollars."
print(txt.format(45))

The price is 45.00 dollars.
The price is 45.000000 dollars.
The price is 45.0000 dollars.

In [ ]:
# Use "F" to convert a number into a fixed point number, but display inf and nan as INF and NAN:

x=float("inf")

txt="The price is {:F} dollars."
print(txt.format(x))

# Same example,but with a lower case f:
txt="The price is {:f} dollars."
print(txt.format(x))

txt="The price is {} dollars."
print(txt.format(x))

The price is INF dollars.
The price is inf dollars.
The price is inf dollars.

In [ ]:
# Use "o" to convert the number into octal format:

txt="The octal version of {0} is {0:o}"

print(txt.format(10))

The octal version of 10 is 12

In [ ]:
# Use "x" to convert the number into Hex format:
txt="The Hexadecimal varsion of {0} is {0:x}"
print(txt.format(255))

The Hexadecimal varsion of 255 is ff

In [ ]:
# Use "X" to convert the number into upper-case Hex format:
txt="The Hexadecimal version of {0} is {0:X}"
print(txt.format(255))

The Hexadecimal version of 255 is FF

In [ ]:
# "%" to convert the number into a percentage format:

txt="You Scored {:%}"
print(txt.format(0.25))

#Or,without any decimals:
txt="You scored {:.0%}"
print(txt.format(0.25))

You Scored 25.000000%
You scored 25%

# Python String index() Method

In [ ]:
# Example:

txt="Hello, Welcome to my world."

x=txt.index("Welcome")
print(x)

7

# Definition and Usage

The index() method finds the first occurrence of the specified value.

The index() method raises an exception if the value in not found.

The index() method is almost the same as the find() method, the only difference is that the find() method returns -1 if the value is not found

# Syntax
string.index(value,start,end)

# Parameter Values:

value  ==>  Required. The value to search for

start  ==>  Optional. Where to start the search. Default is 0

end    ==>  Optional. Where to end the search. Default is to the end of the string.

In [ ]:
# Example

txt = "Hello, welcome to my world."

x=txt.index("e")

print(x)

1

In [ ]:
# Example

txt="Hello, welocme to my world."

x=txt.index("e",5,10)

print(x)

8

In [ ]:
# Example
# If the value is not found, the find() method returns -1, but the index() method will raise an exception:

txt="Hello, welcome to my world."

print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: ignored

# Python String isalnum() Method

In [ ]:
# Example

# Check if  all the characters in the text are alphanumeric:

txt= "Company12"

x=txt.isalnum()
print(x)

True

# Definition and Usage

The isalnum() method returns True if all characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9)

# Syntax

string.isalnum()

# Parameter Values

No Parameter

In [ ]:
# Example

txt="Company 12"
x=txt.isalnum()
print(x)

False

# Python String isalpha() Method

In [ ]:
# Example:

txt="CompanyX"

x= txt.isalpha()

print(x)

True

# Definition and Usage

This isalpha() method returns True if all the characters are alphabet letters (a-z)

# Syntax

String.isalpha()

# Parameter Values

No parameters.

In [ ]:
# Example:

txt="Company10"
x=txt.isalpha()
print(x)

False

# Python String isascii() Method

In [ ]:
# Example

txt= "Company123"

x= txt.isascii()

print(x)

True

# Definition and Usage

The isascii() method returns True if all the characters are ascii characters (a-z)

# Syntax

string.isascii()

# Parameter Values

No Parameters

# Python String isdecimal() Method

In [ ]:
# Example
txt ="1234"
x=txt.isdecimal()
print(x)

True

# Definition and Usage
The isdecimal() method returns True if all the characters are decimals (0-9).
The method can also be used on unicode objects. See example below.

# Syntax
string.isdecimal()

# Parameter Values
No parameters.

In [ ]:
# Example
a="\u0030" #unicode for 0
b="\u0047" #unicode for G

print(a.isdecimal())
print(b.isdecimal())

True
False

# Python String isdigit() Method

In [ ]:
# Example

txt="50800"

x=txt.isdigit()
print(x)

True

# Definition and Usage

The isdigit() method returns True if all the characters are digits,otherwise False. Exponents,like 2,are also considered to be a digit.

# Syntax

String.isdigit()

# Parameter Values

No parameters.

In [ ]:
# Example

a="\u0030" # unicode for 0
b="\u00B2" # unicode for ²
c="\u0047" # unicode for G
print(a.isdigit())
print(b.isdigit())
print(c.isdigit())

True
True
False

# Python String isidentifier() Method

In [ ]:
# Example

txt="Demo"
x=txt.isidentifier()
print(x)

# Definition and Usage

The isidentifer() method returns True if the string is valid identifier,otherwise False.

A String is considered a valid identifier if it only contains alphanumaric letters(a-z) and (0-9),or underscores(_).A valid identifer cannot start with a number, or contain any spaces.

# Syntax

string.isidentifier()

# Parameter values

No parameter

In [ ]:
# Example
a="My Folder"
b="Demo002"
c="2bring"
d="_mydemo"
e="my_demo"
print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())
print(e.isidentifier())

False
True
False
True
True

# Python String islower() Method

In [ ]:
# Example

txt="hello world"
x=txt.islower()
print(x)

True

# Definition and Usage
The islower() method returns True if all the characters are in lower case,otherwise False. Numbers,symbols and spaces are not checked ,only alphabet characters.

# Syntax
string.islower()

# Parameter Values

No parameters.

In [ ]:
# Example
a="Hello world!"
b="hello 123"
c="mynameisPeter"

print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

# Python String isnumeric() Method

In [ ]:
# Example:
txt="565543"
x=txt.isnumeric()
print(x)

True

# Definition and Usage

The isnumeric() method returns True if all the characters are numeric(0-9),otherwise False.

Exponents, like ² and ³/4 are also considered to be numeric values.

"-1" and "1.5" are NOT considered numeric values, because all the characters in the string must be numeric,and the - and the . are not.

# Syntax
string.isnumeric()

# Parameter Values
No parameters.

In [ ]:
# Example
a="\u0030" # unicode for 0
b="\u00B2" # unicode for &sup2;
c="10km2"
d="-1"
e="1.5"


print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())

²
True
True
False
False
False

# Python String isprintable() Method

In [ ]:
# Example
txt="Hello! Are you #1?"

x=txt.isprintable()
print(x)

True

# Definition and Usage

The isprintable() method returns True if all the characters are printable,otherwise False.

# Parameter Values

No parameters.

In [ ]:
# Example:

txt="Hello!\nAre you #1?"

x=txt.isprintable()
print(x)

False

# Python String isspace() Method

In [ ]:
# Example:
txt="  "
x=txt.isspace()
print(x)

True

# Definition and Usage

The isspace() method returns True if all the characters in a string  are whitespace,otherwise False.

# Syntax

string.ispace()

In [ ]:
# Example:
txt="    s    "
x=txt.isspace()
print(x)

False

# Python String istitle() Method

In [ ]:
# Example

txt="Hello, And Welcome To My World!"
x=txt.istitle()
print(x)

True

# Definition and Usage

The istitle() method returns True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, otherwise False

# Syntax

string.istitle()

# Parameter Values

No parameters.

In [ ]:
# Example

a="HELLO, AND WELCOME TO MY WORLD"
b="Hello hiw"
c="22 Names"
d="This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
False
True
True

# Python String isupper() Method

In [ ]:
# Example:

txt="THIS IS NOW!"

x=txt.isupper()

print(x)

True

# Definition and Usage

The isupper() method returns True if all the characters are in upper case, otherwise False. Numbers,symbols and spaces are not checked,only alphabet characters.

# Syntax

string.isupper()

# Parameter Values
No parameters

In [ ]:
# Example:

a="Hello World!"
b='hello 123'
c="MY NAME IS PETER"

print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

# Python String join() Method

In [ ]:
# Example
# Join all items in a tuple into  a string, a hash character as separator:

myTuple=("Jhon","Peter","Vicky")
x="#".join(myTuple)
print(x)

Jhon#Peter#Vicky

# Definition and Usage

The join() method takes all items in an iterable and joins them into one string.
A string must be specified as the separator.

# Syntax

string.join(iterable)

# Parameter Values

iterable => Required. Any iterable object where all the returned values are strings

In [ ]:
# Example:

# Join all items in a dictionary into a string, using the word "TEST" as separator:

myDict={"name":"john","country":"Norway"}
mySeparator="TEST"

x=mySeparator.join(myDict)
print(x)

name="pandi"
x=" ".join(name)
print(x)

nameTESTcountry
p a n d i

# Note: When using a dictionary as an iterable,the returned values are the keys,not the values.

# Python String ljust() Method

In [ ]:
# Example:
# Return a 20 characters long,left justified version of the word "banana":

txt="banana"
x=txt.ljust(20)

print(x,"is my favorite fruit")

banana               is my favorite fruit

# In the result, there are actually 14 whitespaces to the right of the word banana.

# Definition and Usage:

The ljust() method will left align the string, using a specifed character(space is default) as the fill character.

# Syntax

string.ljust(length,character)

# Parameter Values:

length   Required. The length of the returned string.

character  Optional. A character to fill the missing space(to the right of the string). Default is"" space

In [ ]:
# Example

txt="banana"
x=txt.ljust(20,"O")
print(x)

bananaOOOOOOOOOOOOOO

# Python String lower() Method

In [ ]:
# Example:
txt="Hello my FRIENDS"
x=txt.lower()
print(x)

hello my friends

# Definition and Usage

The lower() method returns a string where all characters are lower case

Symbols and Numbers are ignored.

# Syntax

string.lower()

# Parameter Values

No parameter

# Python String lstrip() Method

In [ ]:
# Example

txt="mmmmmmbanana     "

x=txt.lstrip('m')
print("of all fruits",x,"is my favorite")

of all fruits banana      is my favorite

# Definition and Usage

The lstrip() method removes any leading characters (space is the default character to remove)

# Syntax

string.lstrip(characters)

# Parameter Values
characters  ==> Optional. A set of characters to remove as leading characters

In [ ]:
# Example
# Remove the leading characters:

txt=",,,,,,,,ssaww........banana......,,,,,,ssaww"

x=txt.lstrip(",.asw")
print(x)

banana......,,,,,,ssaww

# Python String maketrans() Method

In [ ]:
# Example
# Create a mapping table, and use it in the translate() method to replace any "S" Characters with "P" character:

txt= "Hello Sam!"

mytable=str.maketrans("S","P")

print(txt.translate(mytable))

Hello Pam!


# Definition and Usage

The maketrans() method returns a mapping table that can be used with the translate() method to replace specified characters.

# Syntax

str.maketrans(x,y,z)

# Parameter Values

x => Required.If only one parameter is specified,this has to be a dictionary describing how to perform the replace. If two or more parameters are specified,this parameter has to be a string specifying the characters you want to replace.


y => Optional. A string with the same length as parameter x.Each character in the first parameter will be replaced  with the corresponding character in this string.

z => Optional. A string describing which characters to  remove from the original string.

In [ ]:
# Example:
# Use a mapping table to replace many characters:

txt = "Hi Sam!"
x="mSa"
y="ejo"
mytable=str.maketrans(x,y)
print(txt.translate(mytable))

Hi joe!

In [ ]:
# Example:
# The third parameter in the mapping table describe characters that you want to remove from the string:

txt="Good night Sam!"

x="mSa"
y="eJo"
z="odnght"

mytable=str.maketrans(x,y,z)
print(txt.translate(mytable))

G i Joe!

In [ ]:
# Example
# The maketrans() method itself returns a dictionary describing each replacement, in unicode:

txt="Good night Sam!"
x="mSa"
y="eJo"
z="odnght"
print(str.maketrans(x,y,z))

{109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}

# Python String partition() Method

# Example

Search for the word "bananas", and return a tuple with three elements:

1 - everything before the "match"
2 - the "match"
3 - everything after the "match"

In [ ]:
txt="I could eat bananas all day"
x=txt.partition("bananas")
print(x)

('I could eat ', 'bananas', ' all day')

# Definition and Usage

The partition() method searches for a specified string,and splits the string into a tuple containing three elements.

The first element contains the part before the specified string.

The second element contains the specified string.

The third element contains the part after the string.

# Note: This method searches for the first occurrence of the specified string.

# Syntax

string.partition(value)

# Parameter Values

value  =  Required. The string to search for

# Example:

If the specified value is not found, the partition() method returns a tuple containing: 1 - the whole string, 2-an empty string, 3- an empty string:

In [ ]:
txt="I could eat bananas all day"
x=txt.partition("apples")

print(x)

('I could eat bananas all day', '', '')

# Python String replace() Method

In [ ]:
# Example:
txt="I like bananas"
x=txt.replace("bananas","apples")
print(x)

I like apples

# Definition and Usage

The replace() method replaces a specified phrase with another specified phrase.

# Note: All occurrences of the specified phrase will be replaced, if nothing else is specified.

# Syntax
string.replace(oldvalue,newvalue,count)

# Parameter Values

oldvalue  =>  Required.The string to search for

newvalue  =>  Required. The string  to replace the old value with

count    =>  Optional. A number specifying how may occurrences of the old value you want to replace. Default is all occurrences.

In [ ]:
# Example
txt="one one was a race horse,two two was one too."
x=txt.replace("one","three")
print(x)

three three was a race horse,two two was three too.

In [ ]:
# Example
# Replace the two first occurrence of the word "one":

txt="one one was a race horse,two two was one too."
x=txt.replace("one","three",2)
print(x)

three three was a race horse,two two was one too.

# Python String rfind() Method

In [ ]:
# Example:
# where in the text is the last occurrence of the string "casa"?:

txt="Mi casa,su casa."

x=txt.rfind("casa")
print(x)

11

# Definition and Usage

The rfind() method finds the last occurrence of the specified value.

The rfind() method returns -1 if the value is not found.

The rfind() method is almost the same as the rindex().method. see example below

# Syntax:
string.rfind(value,start,end)

# Parameter Values

value   =>   Required. The value to search for

start   =>   Optional. Where to start the search. Default is 0

end     =>   Optional. Where to end the search. Default is to the end of the string

In [ ]:
# Example:
txt="Hello, welcome to my world."
x=txt.rfind("e")
print(x)

13

In [ ]:
# Example:
txt="Hello, welcome to my world."
x=txt.rfind("e",5,10)
print(x)

8

In [ ]:
# Example:
txt="Hello, welcome to my world."
print(txt.rfind("q"))
print(txt.rindex("q"))

-1

ValueError: ignored

# Python String rindex() Metthod

In [ ]:
# Example:

txt="Mi casa, su casa."
x=txt.rindex("casa")
print(x)

12

# Definition and Usage

The rindex() method finds the  last occurrence of the specified value.

The rindex() method raises an exception if the value is not found.

The rindex() method is almost the same as the rfind() method.

# Syntax:

string.rindex(value,start,end)

# Parameter Values:
value => Required. The vaue to search for

start => Optional. Where to start the search.Default 0

end   => Optional. Where to end the search.Default is to the end of the string.

In [ ]:
# Example:
txt="Hello, welcome to my world."
x=txt.rindex("e")
print(x)

13

In [ ]:
# Example:
txt="Hello, welcome to my world."
x=txt.rindex("e",5,10)
print(x)

8

In [ ]:
# Example:
txt="Hello, welcome to my world."
print(txt.rfind("q"))
print(txt.rindex("q"))

-1

ValueError: ignored

# Python String rjust() Method

In [ ]:
# Example:
txt="banana"
x=txt.rjust(20)
print(x,"is my favorite fruit.")

              banana is my favorite fruit.

# Note : In the result,there are actually 14 whitespaces to the left of the word banana.

# Definition and Usage:
The rjust() method will right align the string, using a specified character (space is default) as the full character.

# Syntax:

string.rjust(length,character)

# Parameter Values:

length  => Required.The length of the returned string.

Character => Optional. A character  to fill the missing space (to the left of the string). Default  is "" (space)

In [ ]:
# Example:
txt="banana"
x=txt.rjust(20,"O")
print(x)

OOOOOOOOOOOOOObanana

# Python String rpartition() Method:

In [ ]:
# Example:
# Search for the last occurence of the word "bananas", and return a tuple with three elements:
# 1- everything before the "match"
# 2- the "match"
# 3- everything after the "match"

In [ ]:
txt="I could eat bananas all day, bananas are my favorite fruit"
x=txt.rpartition("bananas")
print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

# Definition and Usage

The rpartition() method searches for the last occurrence of a specified string, and splits the string into a tuple containing three elements.

The first element contains  the part before the specified string.

The second element contains the specified string.

The third element contains the part after the string.

# Parameter

value => Required. The string to search for

In [ ]:
# Example: If the specified value is not found, the rpartition() method returns a tuple containing: 1 - an empty string, 2- an empty string, 3- the whole string:
txt="I Could eat bananas all day, bananas are my favorite fruit"
x=txt.rpartition("apples")
print(x)

('', '', 'I Could eat bananas all day, bananas are my favorite fruit')

# Python String rsplit() Method()

In [ ]:
# Example
# Split a string into a list, using comma, follwed by a space,(,) as the separator:
txt="apple,banana,cherry"
x=txt.rsplit(",")
print(x)

['apple', 'banana', 'cherry']

# Definition and Usage:
The rsplit() method splits a string into a list, starting from the right.
If no "max" is specified, this method will return the same as the split() method.

# Note When maxsplit is specified,the list will contain the sepcified number of elements plus one.

# Syntax:

string.rsplit(separator,maxsplit)

# Parameter Values:

separator => Optional. Specifies the separator to use when spliting the string.By default any whitespace is a separator

maxsplit => Optional. Specifies how many splits to do. Default value is -1, Which is "all occurrences"

In [ ]:
# Example:

txt="apple,banana,cherry"

# setting the  maxsplit parameter to 1, will return a list with 2 elements !

x= txt.rsplit(",",1)

print(x)

['apple,banana', 'cherry']

# Python String rstrip() Method

In [ ]:
# Example:
# Remove any white spaces at the end of the string:

txt="    banana    "

x=txt.rstrip()
print("of all fruits",x,"is my favorite")

of all fruits     banana is my favorite

# Definition and Usage

The rstrip() method removes any trailing characters(characters at the end a string), space is the default trailing character to remove.

# Syntax

string.rstrip(characters)

# Parameter Values:

characters => Optional.A set of characters to remove as trailing characters

In [ ]:
# Example:
txt="banana,,,,,ssqqww....."
x=txt.rstrip(',.qsw')
print(x)

banana

# Python String split() Method

In [ ]:
# Example
txt="welocome to the jungle"
x=txt.split()
print(x)

['welocome', 'to', 'the', 'jungle']

# Definition and Usage

The split() method splits a string into a list.

You can specify the separator,default separator is any whitespace.

# Note: When maxsplit is specified, the list will contain the specified number of elements plus one.

# Syntax:
string.split(separator,maxsplit)

# Parameter Values

separator => Optional. Specifies the separator to use when spliting the string. By default any whitespace is a separator.

maxsplit  => Optional. Specifies how many splits to do. Default value is -1, Which is "all occcurences"

In [ ]:
# Example
txt="hello,my name is Peter, I am 26 years old"
x=txt.split(",")
print(x)

['hello', 'my name is Peter', ' I am 26 years old']

In [ ]:
# Example
txt="apple#banana#cherry#orange"
x=txt.split("#")
print(x)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
# Example:
txt="apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!

x=txt.split("#",1)
print(x)

['apple', 'banana#cherry#orange']

# Python String splitlines() Method

In [ ]:
# Example:
txt="Thank you for the music\nWelcome to the jungle"
x=txt.splitlines()
print(x)
print(txt)

['Thank you for the music', 'Welcome to the jungle']
Thank you for the music
Welcome to the jungle

# Definition and Usage

The splitlines() method splits a string into a list. The splitting si done at line breaks.

# Syntax:
string.splitlines(keeplinebreaks)

# Parameter Values:

keeplinebreaks => Optional. Specifies it the line breaks should be included(True),or not (False). Default value is False.

In [ ]:
# Example:
# Split the string,but keep the line breaks:
txt="Thank you for the music\nWelcomne to the jungle"
x=txt.splitlines(True)
print(x)

['Thank you for the music\n', 'Welcomne to the jungle']

# Python String startswith() Method

In [ ]:
# Example:
txt="Hello, welcome to my world."
x=txt.startswith("Hello")
print(x)

True

# Definition and Usage

The startswith() method returns True if the string starts with the specified value, otherwise False.

# Syntax

String.startswith(value,start,end)

# Parameter Values:

value => Required. The value to check if the string starts with

start => Optional. An Integer specifying at which position to start the search.

end   => Optional. An Integer specifying at which position to end the search.

In [ ]:
# Example:

txt="Hello, welcome to my world."

x=txt.startswith("wel",7,20)

print(x)

True

# Python String strip() Method

In [ ]:
# Example:

txt="    banana    "

x=txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

# Definition and Usage

The strip() method removes any leading, and trailing whitespaces. Leading means at the beginning of the string,trailing means at the end.You can specify which character(s) to remove, if not , any whitespaces will be removed.


# Syntax

string.strip(characters)

# Parameter Values

characters  =>  Optional. A set of characters to remove as leading/trailing characters.

In [ ]:
# Example:
txt=",,,,,rrtggg.....banana....rrr"
x=txt.strip(",.grt")
print(x)

banana

# Python String swapcase() Method

In [ ]:
# Example

txt="Hello My NAme Is PETTER"
x=txt.swapcase()
print(x)

hELLO mY naME iS petter

# Definition and Usage

The swapecase() method returns a string where all the upper case letters are lower case and vice versa.

# Syntax
string.swapcase()

# Parameter Values

 No parameters

# Python String title() Method

In [ ]:
# Example
txt="Welcome to my world"
x=txt.title()
print(x)

Welcome To My World

# Definition and Usage

The title() method returns a string where the first character  in every word is upper case. Like a header, or a title.

If the word contains a number or a symbol,the first letter after that will be converted to upper case.

# Syntax
string.title()

# Parameter Values

No parameters

In [ ]:
# Example
txt="welcome to my 2nd world"
x=txt.title()
print(x)

Welcome To My 2Nd World

In [ ]:
# Example

txt="hello b2b2b2 and 3g3g3g"

x=txt.title()

print(x)

Hello B2B2B2 And 3G3G3G

# Python String translate() Method

In [ ]:
# Example
# Replace any "S" characters a "P" character:
# Use a dictionary with ascii codes to replace 83 (s) with 80 (P) :
mydict={83:80}
txt="Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

# Definition and Usage

The translate() method returns a string where some specified characters are replaced with the character described in a dictionary, or in a mapping table.

Use the maketrans() method to create a mapping table.

If a character is not specified in the dictionary/table,the character will not be replaced.

If  you use a dictionary,you must use ascii codes instead of characters.

In [ ]:
# Example:
txt="Hello Sam!"

mytable=str.maketrans("S","P")
print(txt.translate(mytable))

Hello Pam!

In [ ]:
# Example:
# Use a mpping table to replace many characters:
txt="Hi Sam!"
x="mSa"
y="eJo"
mytable=str.maketrans(x,y)
print(txt.translate(mytable))

Hi Joe!

In [ ]:
# Example:
txt="Good night Sam!"
x="mSa"
y="eJo"
z="odnght"
mytable=str.maketrans(x,y,z)
print(txt.translate(mytable))

G i Joe!

In [ ]:
# Example:
# The same example as above,but using a dictionary instead of a mapping table:
txt="Good night Sam!"
mydict={109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}
print(txt.translate(mydict))

G i Joe!

# Python String upper() Method

In [ ]:
# Example:
txt="Hello my friend"
x=txt.upper()
print(x)

HELLO MY FRIEND

# Definition and Usage
The upper() method returns a string where all characters are in upper case Symbols and Numbers are ignored.

# Syntax

string.upper()

# Parameter Values

No parameters

# Python String zfill() Method

In [ ]:
# Example:
txt="50"
x=txt.zfill(10)
print(x)

0000000050

# Definition and Usage

The zfill() method adds zeros (0) at the beginning of the string,until it reaches the specified length. If the value of the len parameter is less then the length of the string,no filling is done.

# Syntax

string.zfill(len)

# Parameter Values

len =>  Required. A number specifying  the desired length of the string

In [ ]:
# Example:
a= "hello"
b="welcome to the jungle"
c="10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000

# Python Booleans

Booleans represent one of two values: True of False.

# Boolean Values

In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answer, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [ ]:
# Example:
print(10>9)
print(10==9)
print(10<9)

True
False
False

In [ ]:
# Example
a=200
b=33

if b>a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

# Evaluate Values and Variables

The bool() function allows you to evaluate any value, and give you True or False in return,

In [ ]:
# Example
# Evaluate a string and a number
print(bool("Hello"))
print(bool(15))

True
True

In [ ]:
# Example
# Evaluate two variables:
x="Hello"
y=15
print(bool(x))
print(bool(y))

True
True

# Most Values are True
# Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.
Any number is True, except 0.
Any list,tuple, set ,and dictionary are True , except empty ones.

In [ ]:
# Example
bool("abc")
bool(123)
bool(["apple","cherry","banana"])

True

# Some Values are False

In fact, there are not many values evaluate to False, except empty values, such as (), [],{},"", the number 0, and the value None. And of course the value False evaluates to False.

In [ ]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
True
False

One more value,  or object in this case, evaluates to False, and that is if you hava an object that is made from a class with a __len__ function that returns 0 or False:

In [ ]:
# Example:
class myclass():
  def __len__(self):
    return 0

myobj=myclass()
print(bool(myobj))

False

# Functions can Return a Boolean  

You can create functions that returns a Boolean Value:

In [ ]:
# Example

def  myFunction():
  return True
print(myFunction())

True

In [ ]:
# Example
def myFucntion():
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

Python also has many built-in functions that return a boolean value,like the isintance() function, which can be used to determine of an object is of cetain data type:

In [ ]:
# Example:
x=200
print(isinstance(x,int))

True

# Python Operators

Python Operators

Operators are used to perform operations on variable and values.
In the example below, we use the + operator to add together two values:

In [2]:
# Example
print(10+5)

15

# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [10]:
# Python Arithmetic Operators

# Addition +

x=5
y=3
print(x+y)


# Subtraction -

x=5
y=3
print(x-y)

# Multiplication *

x=10
y=3
print(x*y)

# Division /

x=10
y=100
print(y/10)

# Modulus %

x=50
y=100
print(x%y)
print(y%x)

# ** Exponentiation

x=100
y=2
print(x**y)

# // Floor division => The floor division // rounds the result down to the nearest whole number

x=15
y=2

print(x//y)

8
2
30
10.0
50
0
10000
7

In [12]:
# Python Assignment Operators

# Assignment operators are used to assign values to variables:

x=5
print(x)

5

In [13]:
x=5
x+=3
print(x)

8

In [14]:
x=5
x-=2
print(x)

3

In [15]:
x=5
x*=5
print(x)

25

In [16]:
x=5
x/=2
print(x)

2.5

In [17]:
x=5
x%=2
print(x)

1

In [18]:
x=5
x//=2
print(x)

2

In [19]:
x=10
x**=2
print(x)

100

In [23]:
x=15
x &=5
print(x)

5

In [24]:
x=15
x|=2
print(x)

15

In [25]:
x=15
x^=3
print(x)

12

In [1]:
x=5
x>>=3
print(x)

0

In [2]:
x=5
x<<=3
print(x)

40

In [3]:
# Python Comparison Operators
x=5
y=3
print(x==y)
# returns False because 5 is not equal to 3

False

In [ ]:
x=5
y=3
print(x!=y)
# returns True because 5 is not equal to 3

In [4]:
x=5
y=3
print(x>y)
# returns True because 5 is greater than 3

True

In [5]:
x=5
y=3
print(x<y)
# returns False because 5 is not less than 3

False

In [6]:
# Greater than or equal to
x=5
y=3
print(x>=y)
# returns True because five is greater,or equal to 3

True

In [7]:
# Lesser than or equal to
x=5
y=3
print(x<=y)
# returns False because five is neither less than or equal to 3

False

In [8]:
# Python Logical Operators

# and  Returns True if both statements are ture

x=5
print(x>3 and x<10)
# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [9]:
# or Returns True if one of the statements is ture
x=5
print(x<3 or x<10)
# Returns True because one of the conditions are true (5 is not lesser than 3, but 5 is lesser than 10 )

True

In [11]:
# not  Reverse the result,returns False if the result is true
x=5
print(not(x>10 and x<3))
# returns False because not is used to reverse the result

True

# Python Identity Operators

Identity operators are used to compare the objects,not if they are equal,but if they are actually the same object,with the same memory location:

In [15]:
# is Returns True if both variables are the same object
x=["apple","banana"]
y=["apple","banana"]
z=x
print(x is z)
# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x==y)
# to demonstrate the difference between "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [16]:
# is not  Returns True if both variables are not the same object
x=["apple","banana"]
y=["apple","banana"]
z=x

print(x is not z)
# returns False because z is the same object as x
print(x is not y)
# returns True because y is not  the same object as y,even if they have the same content
print(x!=y)
# to demostrate the  difference between "is not" and "!=": this comparison returns False becaue x is equal to y

False
True
False

In [19]:
# Python Membership Operators

# in  Returns True if a sequence with the specified value is present in the object

x=["apple","banana"]
print("banana" in x)
# returns True because a sequence with the value "banana" is in the list

# not in Returns True if a sequence with the specified value is not present in the object
x=["apple","banana"]
print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True
True

In [23]:
# Python Bitwise Operators

# & AND =>sets each bit to 1 if both bits are 1


"""The & operator compares each bit and set it to 1 if both are 1,otherwise it is set to 0:
6=0000000000000110
3=0000000000000011
------------------
2=0000000000000010
==================
Decimal numbers and their binary values:
0=000000000000000
1=000000000000001
2=000000000000010
3=000000000000011
4=000000000000100
5=000000000000101
6=000000000000110
7=000000000000111


"""
print(6&3)

2

In [24]:
# | OR => Sets each bit to 1 if one of two bits is 1



"""
The | operator compares each bit and set it to 1 if  one or both
is 1, otherwise it is set to 0:

6=0000000000000110
3=0000000000000011
------------------
7=0000000000000111
==================

Decimal numbers and their binary values:
0=000000000000000
1=000000000000001
2=000000000000010
3=000000000000011
4=000000000000100
5=000000000000101
6=000000000000110
7=000000000000111


"""
print(6|3)

7

In [25]:
# ^ XOR => Sets each bit to 1 if only one of two bits is 1



"""
The ^ operator compares each bit and set it to 1 if only one is
1,otherwise (if both are 1 or both are 0) it is set to 0:

6=0000000000000110
3=0000000000000011
------------------
5=0000000000000101
==================

Decimal numbers and their binary values:
0=000000000000000
1=000000000000001
2=000000000000010
3=000000000000011
4=000000000000100
5=000000000000101
6=000000000000110
7=000000000000111

"""
print(6^3)

5

In [26]:
# ~ NOT Inverts all the bits


"""
The  ~ operator inverts each bit (0 becomes 1 and 1 becomes 0).
Inverted 3 becomes -4:
 3 = 0000000000000011
-4 = 1111111111111100

Decimal numbers and their binary values:
0=000000000000000
1=000000000000001
2=000000000000010
3=000000000000011
4=000000000000100
5=000000000000101
6=000000000000110
7=000000000000111


"""
print(~3)

-4

In [30]:
# << Zero fill left shift => Shift left by pushing zeros in from the rigth and let the leftmost bits fall off

"""
The << operator inserts the specified number of 0's (in  this case
2) from the right and left  the same amount of leftmost bits fall
off:

If you push 00 in from the left:
3=000000000000011
becomes
12=0000000000001100

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

print(3<<2)

12

In [32]:
# >>  Signed right shift => Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off
"""
The >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.

If you move each bit 2 times to the right, 8 becomes 2:
8=0000000000001000
becomes
2=0000000000000010

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

print(8>>2)

2

# Operator Precedence
Operator precedence describes the order in which operations are performed.

In [ ]:
# Example
# Parenthess has the highest precedence, meaning that expressions inside parentheses must be evaluated first:

"""
Parenthesis have the highest precedence, and need to be evaluated first.
The calculation above reads 9-9=0
"""
print((6+3)-(6+3))

In [33]:
# Example
# Multplication * has higher precedence than addition +, and therefor multiplications are evaluated before additions:
"""
Multiplication has higher precedence than addition, and needs to be evaluated first.
The calculation above reads 100+15 =155
"""

print(100+5*3)

115

In [ ]:
# The precedence order is described in the  table below, starting  with the highest precedence at the top: